<div class="container">
    <h3>Add Category</h3>
  <table class="table">
      <tr>
          <td>Category-name</td>
          <td>
              <input type="text" [(ngModel)]="categories.categoryName"class ="form-control"row="2">
          </td>
      </tr>
      <tr>
          <td>Description</td>
          <td>
              <textarea [(ngModel)]="categories.description " class ="form-control" rows="5"></textarea>
         
          </td>
      </tr>
     <tr>
          <td colspan="2">
              <button class = "btn btn-primary" (click)="AddCategory()">Add</button>
          </td>
      </tr>

  </table>
</div>