<div class="container" style="font-family: 'YourSelectedFont', sans-serif;">
    <div *ngFor="let item of posts">
      <h2>{{ item.postTitle }}</h2>
  
      <div class="content-box">
        <img src="http://localhost:5293/Resources/Images/{{item.image}}" alt="" width="250" height="250">
        <p>{{ item.content }}</p>
        
      </div>
  
      <div class="details">
        <p class="text-bold url-handle"><span>URL:</span> <a href="{{ item.urlHandle }}" target="_blank">{{ item.urlHandle }}</a></p>
        <div><strong>Author Name:</strong> {{ item.authorName }}</div>
        <div><strong>Category Name:</strong> {{ item.categoryName }}</div>
        <div><strong>Published Date:</strong> {{ item.publishedDate |date:'dd:MM:yyyy' }}</div>
       
      </div>
      <div class="comment-box"><hr>
        <h3>Can Comment</h3>
        <p>Status: {{item.canComment}} </p>
        <button class="btn btn-primary" (click)="AllowComment(item.postId)">Allow</button>&nbsp;
        <button class="btn btn-primary" (click)="DisAllowComment(item.postId)">Disallow</button>
      </div>
      <!-- <input type="text" [(ngModel)]="comment.text" class="form-control"> -->
      <!-- <button class="btn btn-primary mt-3" (click)="addComment(item.postId)">Add Comment</button> -->
      <div *ngIf="item.canComment=='Allowed'">
        <div *ngFor="let com of comments">
            <div class="comment-box">
                <p><strong>{{ com.userName }}</strong></p>  
                <p> {{ com.text }} </p>
                <p><strong>
                    Status:
                </strong>
                {{ com.commentStatus }}
            </p>
                <button class="btn btn-primary" (click)="approve(com.id)">Approve</button>&nbsp;
                <button class="btn btn-primary" (click)=" deny(com.id)">Deny</button>
            </div>
            </div>
    </div>
        <!-- Add spacing or styling as needed between posts -->
        <hr class="my-4">
    </div>
  </div>
